.testimonial {
    margin-bottom: 1em;
}

.testimonial .testimonial__cite {
    display: flex;
    flex-flow: row nowrap;
}

.testimonial .testimonial__profile {
    margin-right: 1em;
    width: 2em;
}

.testimonial .testimonial__profile img {
    border-radius: 1em;
}

.testimonial .testimonial__name {
    display: block;
    font-size: .8em;
    opacity: .8;
}

.testimonial .testimonial__role {
    display: block;
    font-size: .6em;
    opacity: .6;
    text-transform: uppercase;
}